<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
   
  </style>
</head>

<body>
  <div class="cube">
    <div class="cube-face cube-face-front"></div>
    <div class="cube-face cube-face-left"></div>
    <div class="cube-face cube-face-back"></div>
    <div class="cube-face cube-face-right"></div>
    <div class="cube-face cube-face-top"></div>
    <div class="cube-face cube-face-bottom"></div>
  </div>
</body>

</html>